{% extends 'admin/layout.html' %}
{% load humanize %}

{% block bread %}
  <a href="{% url 'admin:site-index' %}" class="breadcrumb">Admin</a>
  <a href="{% url 'admin:policy-index' %}" class="breadcrumb">Users</a>
{% endblock %}

{% block crumbs %}
  <span class="breadcrumb">Policy #{{ policy.pk }}: {{ policy.user.email }}</span>
{% endblock %}

{% block content %}
    <h1>Policy #{{ policy.pk }}: {{ policy.user.email }}</h1>
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <h2>Details</h2>
                    <dl>
                        <dt>Id:</dt>
                        <dd>{{ policy.pk }}</dd>
                        <dt>User Email:</dt>
                        <dd>{{ policy.user.email|urlize }}</dd>
                        <dt>Is Final:</dt>
                        <dd>{{ policy.is_final|yesno:"Yes,No" }}</dd>
                        <dt>Is Signed:</dt>
                        <dd>{{ policy.is_signed|yesno:"Yes,No" }}</dd>
                        <dt>Created At:</dt>
                        <dd>{{ policy.created_at|naturaltime }}</dd>
                    </dl>
                </div>
            </div>
        </div>
{% endblock %}
