{% extends "layout.html" %}
{% load react_renderer %}
{% load render_table from django_tables2 %}

{% block content %}
    <ul class="collection">
        {% if user.policies.exists and user.policies.last.state == 1 %}
            <li class="collection-item">
                <h5>
                    You have <a href="{% url 'policy-edit' pk=user.policies.last.pk %}">opened Policy</a>
                </h5>
            </li>
        {% endif %}
        <li class="collection-item">
            {% react_component "Dynamis.PeerReviewShortRoot" %}
        </li>
        {% if user.is_risk_assessor and user.risk_assessment_tasks.exists %}
            <li class="collection-item">
                <h5>
                    Assessment Tasks
                </h5>
                {% render_table table %}
            </li>
        {% endif %}
        </li>
    </ul>
{% endblock content %}
