{% extends "layout.html" %}
{% load react_renderer %}
{% load render_table from django_tables2 %}

{% block content %}
    <ul class="collection">
        {% if user.policies.exists %}
            <li class="collection-item">
                <h5>
                    You have <a href="{% url 'my-policy' %}">opened Policy</a>
                </h5>
            </li>
        {% endif %}
        <li class="collection-item">
            {% react_component "Dynamis.PeerReviewShortRoot" %}
        </li>
        {% if user.is_risk_assessor and user.risk_assessment_tasks.exists %}
        {% endif %}
        <li class="collection-item">
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <ul class="collection with-header">
                            <li class="collection-header"><h4>Risk Assessment Tasks</h4></li>
                            {% for task in user.risk_assessment_tasks.all %}
                                <div class="col s6">
                                    <a href="{% url 'risk-assessment' assessment_pk=task.pk %}">Task-{{ task.id }} {{ task.policy.user }}</a>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
{% endblock content %}
