{% extends 'base.html' %}


{% block contentwrapper %}
  {% block header %}
  <nav>
    <div class="nav-wrapper">
      <a href="{% url 'site-index' %}" class="brand-logo">Dynamis</a>
      <ul id="nav-mobile" class="right">
        {% if user.is_authenticated %}
          {% if user.is_admin %}
            <li><a href="{% url 'admin:site-index' %}">Admin</a></li>
          {% endif %}

          <li><a href="{% url 'my-policy' %}">My policy</a></li>
          <li><a href="">Make a Payment</a></li>
          <li><a href="{% url 'smart-deposit-stub' %}">Smart Deposit STUB</a></li>
          <li><a href="">Open a Claim</a></li>

          {% if user.is_risk_assessor %}
            <li><a href="{% url 'assessor-dashboard' %}">Assessor Dashboard</a></li>
          {% endif %}

          <li><a href="{% url 'user-profile' %}">Account</a></li>
          <li><a href="{% url 'wallet' %}"><i class="material-icons left">account_balance</i>Wallet</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock header %}

  {% block messages %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>
        <div class="chip {{ message.tags }}"> {{ message }}
          <i class="material-icons">close</i>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endblock messages %}

  {% block content %}
  {% endblock content %}

  {% block footer %}
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; 2016 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  {% endblock footer %}
{% endblock contentwrapper %}
