{% extends "layout.html" %}
{% load react_renderer %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>Assessor Dashboard</h1>
<section>
  <h3>Previous Assessments</h3>
  <p>List of previous Assessments is here (still TODO)...</p>
  {# TODO: #}

  <h3>New Assessments</h3>
  <p>List of assessments must go here (still TODO)...</p>

  {# TODO: #}
  <ul>
     <li>
          {# Just an example #}
          <a href="{% url 'risk-assessment' assessment_pk=1 %}">Assessment 1</a></span>
     </li>
  </ul>

  <h3>Token Management</h3>
  Token Management Interface will be here. 
  Status of "invested" tokens will be here too.
</section>

{% endblock content %}
