{% extends "layout.html" %}
{% load react_renderer %}
{% load render_table from django_tables2 %}

{% block content %}
    <h1>New Risk Assessment Task #1</h1>
    <ul class="collection">
        <section>
            <li class="collection-item">

                <h2>Information</h2>
                <p>User ID: {{ user.id }}</p>
                <p>User Name: {% if assessment_task.policy.user.get_full_name %}
                    {{ assessment_task.policy.user.get_full_name }} {% endif %}</p>
                <p>LinkedIn: {% if assessment_task.policy.user.linkedin_account %}
                    {{ assessment_task.policy.user.linkedin_account }} {% endif %}</p>
            </li>
            <h2>Jobs</h2>
            {% for job in assessment_task.policy.user.employment_history_jobs.all %}
                <li class="collection-item">
                    <hr>
                    <p><strong>Position: </strong>{{ job.job_titile }}</p>
                    <p><strong>Company: </strong>{{ job.company }}</p>
                    <p><strong>City: </strong>{{ job.city }}</p>
                    <p><strong>State: </strong>{{ job.state }}</p>
                    <p><strong>Duration: </strong>{{ job.duration }}</p>
                    <p><strong>Is Current Job: </strong>{{ job.is_current_job }}</p>
                    <p><strong>Confirmer Email: </strong>{{ job.confirmer_email }}</p>
                    <p><strong>Confirmer Name: </strong>{{ job.confirmer_name }}</p>
                    <p><strong>Notes: </strong>{{ job.notes }}</p>
                </li>
            {% endfor %}
            <h2>Questions</h2>
            <li class="collection-item">
                <div>
                    <p><strong>“How long do you see yourself staying with your present employer?”</strong></p>
                    <p>“{{ assessment_task.policy.get_how_long_stay_answer_display }}”</p>
                </div>
                <hr>
                <div>
                    <p><strong>“How long do you expect you will need coverage?”</strong></p>
                    <p>“{{ assessment_task.policy.get_unemployment_period_answer_display }}”</p>
                </div>
            </li>
            <li class="collection-item">
                <h2>Smart Deposit</h2>
                <div>
                    {% if assessment_task.policy.smart_deposit.amount %}
                        <p><strong>Paid smart deposit of {{ assessment_task.policy.smart_deposit.amount }} Eth</strong></p>
                    {% else %}
                        <p><strong>Not paid smart deposit</strong></p>
                    {% endif %}
                </div>
            </li>
        </section>
        <div>
            <li class="collection-item">
                <h4>As a Risk Assessor - Please Answer</h4>
                <div className="card-action">
                    <form action="." method="post">
                        {% if user.is_admin %}
                            <p>How many months will this policyholder pay in premiums before opening a claim?</p>
                        {% else %}
                            <p>How many months will this policyholder pay in premiums before opening a claim?</p>
                        {% endif %}
                        {#                        <div class="input-field " type="hidden">#}
                        <div class="input-field col s12" type="hidden">
                            <input class=" validate" id="id_amount" name="question1" step="any" type="number"/>
                            <label class="s12 " for="id_amount">Months
                                ({{ config.MONTHS_PAY_PREMIUMS_BEFORE_OPENING_A_CLAIM_MIN }}
                                - {{ config.MONTHS_PAY_PREMIUMS_BEFORE_OPENING_A_CLAIM_MAX }})</label>
                        </div>
                        <div class="input-field col s12" type="hidden">
                            <input class=" validate" id="id_amount" name="bet1" step="any" type="number"/>
                            {% if user.is_admin %}
                                <label class="s12 " for="id_amount">Your bet
                                    ({{ config.BET_MIN_AMOUNT_ADMIN }}-{{ config.BET_MAX_AMOUNT_ADMIN }})</label>
                            {% else %}
                                <label class="s12 " for="id_amount">Your bet
                                    ({{ config.BET_MIN_AMOUNT_USER }}-{{ config.BET_MAX_AMOUNT_USER }})</label>
                            {% endif %}
                        </div>
                        {#                        </div>#}
                        <p>How many weeks will this policyholder recieve in payments before closing a claim?</p>
                        <div class="input-field col s12" type="hidden">
                            <input class=" validate" id="id_amount" name="question2" step="any" type="number"/>
                            <label class="s12 " for="id_amount">Weeks ({{ config.WEEKS_PAID_FOR_FIRST_CLAIM_MIN }}
                                - {{ config.WEEKS_PAID_FOR_FIRST_CLAIM_MAX }})</label>
                        </div>
                        <div class="input-field col s12" type="hidden">
                            <input class=" validate" id="id_amount" name="bet2" step="any" type="number"/>
                            {% if user.is_admin %}
                                <label class="s12 " for="id_amount">Your bet
                                    ({{ config.BET_MIN_AMOUNT_ADMIN }}-{{ config.BET_MAX_AMOUNT_ADMIN }})</label>
                            {% else %}
                                <label class="s12 " for="id_amount">Your bet
                                    ({{ config.BET_MIN_AMOUNT_USER }}-{{ config.BET_MAX_AMOUNT_USER }})</label>
                            {% endif %}
                        </div>
                        <div class="input-field " type="hidden">
                            <div class="col s12" type="hidden">
                                <label for="id_policy"></label>
                                <select class=" validate" id="id_policy" name="policy">
                                    <option value="{{ assessment_task.policy.pk }}" selected="selected">---------
                                    </option>
                                    <option value="{{ assessment_task.policy.pk }}"></option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Make a Bet</button>
                    </form>
                </div>
            </li>
        </div>
    </ul>

{% endblock content %}
