{% extends "layout.html" %}
{% load react_renderer %}
{% load render_table from django_tables2 %}

{% block content %}
    <h1>New Risk Assessment Task #1</h1>
    <ul class="collection">
        <section>
            <li class="collection-item">

                <h2>Information</h2>
                <p>User ID: TODO</p>
                <p>User Name: TODO</p>
                <p>LinkedIn: TODO
                <p>

                <p>Social Media 1: twitter.com/some</p>
                <p>Social Media 2: facebook.com/some</p>
                <p>Social Media 3: github.com/some</p>
            </li>
            <li class="collection-item">
                <hr>
                <p><strong>Job 1</strong></p>
                <p>Programmer - 1 year 3 months - Verified</p>
                <p>Full info about Job1 here...</p>

                <hr>
                <p><strong>Job 2</strong></p>
                <p>Software Architect - 2 years 3 months - <strong>Unverified</strong></p>
                <p>Full info about Job2</p>
                <hr>
            </li>
            <li class="collection-item">
                <div>
                    <p><strong>“How long do you see yourself staying with your present employer?”</strong></p>
                    <p>“Before the end of next year (18 months)”</p>
                    <p>Paid smart deposit of 1.8 Eth</p>
                </div>
                <hr>

                <div>
                    <p><strong>“How long do you expect you will need coverage?”</strong></p>
                    <p>“Perhaps 1 to 2 months”</p>
                    <p>Paid smart deposit of 2.6 Eth</p>
                </div>
            </li>
        </section>
        <div>
            <li class="collection-item">
                <h4>As a Risk Assessor - Please Answer</h4>
                <div className="card-action">
                    <form action="." method="post">
                        {% if user.is_admin %}
                            <p>How many months will this policyholder pay in premiums before opening a claim?</p>
                        {% else %}
                            <p>How many months will this policyholder pay in premiums before opening a claim?</p>
                        {% endif %}
                        {#                        <div class="input-field " type="hidden">#}
                        <div class="input-field col s12" type="hidden">
                            <input class=" validate" id="id_amount" name="question1" step="any" type="number"/>
                            <label class="s12 " for="id_amount">Months
                                ({{ config.MONTHS_PAY_PREMIUMS_BEFORE_OPENING_A_CLAIM_MIN }}
                                - {{ config.MONTHS_PAY_PREMIUMS_BEFORE_OPENING_A_CLAIM_MAX }})</label>
                        </div>
                        <div class="input-field col s12" type="hidden">
                            <input class=" validate" id="id_amount" name="bet1" step="any" type="number"/>
                            {% if user.is_admin %}
                                <label class="s12 " for="id_amount">Your bet
                                    ({{ config.BET_MIN_AMOUNT_ADMIN }}-{{ config.BET_MAX_AMOUNT_ADMIN }})</label>
                            {% else %}
                                <label class="s12 " for="id_amount">Your bet
                                    ({{ config.BET_MIN_AMOUNT_USER }}-{{ config.BET_MAX_AMOUNT_USER }})</label>
                            {% endif %}
                        </div>
                        {#                        </div>#}
                        <p>How many weeks will this policyholder recieve in payments before closing a claim?</p>
                        <div class="input-field col s12" type="hidden">
                            <input class=" validate" id="id_amount" name="question2" step="any" type="number"/>
                            <label class="s12 " for="id_amount">Weeks ({{ config.WEEKS_PAID_FOR_FIRST_CLAIM_MIN }}
                                - {{ config.WEEKS_PAID_FOR_FIRST_CLAIM_MAX }})</label>
                        </div>
                        <div class="input-field col s12" type="hidden">
                            <input class=" validate" id="id_amount" name="bet2" step="any" type="number"/>
                            {% if user.is_admin %}
                                <label class="s12 " for="id_amount">Your bet
                                    ({{ config.BET_MIN_AMOUNT_ADMIN }}-{{ config.BET_MAX_AMOUNT_ADMIN }})</label>
                            {% else %}
                                <label class="s12 " for="id_amount">Your bet
                                    ({{ config.BET_MIN_AMOUNT_USER }}-{{ config.BET_MAX_AMOUNT_USER }})</label>
                            {% endif %}
                        </div>
                        <div class="input-field " type="hidden">
                            <div class="col s12" type="hidden">
                                <label for="id_policy"></label>
                                <select class=" validate" id="id_policy" name="policy">
                                    <option value="{{ user.policies.last.pk }}" selected="selected">---------
                                    </option>
                                    <option value="{{ user.policies.last.pk }}"></option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Make a Bet</button>
                    </form>
                </div>
            </li>
        </div>
    </ul>

{% endblock content %}
