{% extends "layout.html" %}
{% load render_table from django_tables2 %}

{% block content %}
    <h2>My Smart Deposit</h2>
    <section>
        <ul class="collection">
            <li class="collection-item">
                {% render_table table %}
            </li>
        </ul>
    </section>
    <form action="." method="post">
        <div class="card">
            <span class="card-title">Create Smart Deposit</span>
            {% include 'partials/form_as_fieldsets.html' %}
            <div class="input-field" hidden="true">
                <input class=" validate" id="id_amount" name="policy" step="any" type="number" value="{{ user.policies.first.id }}">
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>

{% endblock content %}