{% extends "layout.html" %}
{% load render_table from django_tables2 %}

{% block content %}
    <ul class="collection">
        <li class="collection-item">
            <h2>My Smart Deposit</h2>
            <section>
                <ul class="collection">
                    <li class="collection-item">
                        {% render_table table %}
                    </li>
                </ul>
            </section>
        </li>
        <li class="collection-item">
            <label htmlFor="eth_password">Password</label>
            <input type="text" id="eth_password">
        </li>
        <li class="collection-item">
            <div className="card-action">
                <form action="." method="post">
                    {#                        <span class="card-title">Create Smart Deposit</span>#}
                    {#                {% include 'partials/form_as_fieldsets.html' %}#}
                    {#                {% csrf_token %}#}
                    {#                <div class="input-field ">#}
                    {#                    <div class="col s12">#}
                    {#                        <label for="id_state">State</label>#}
                    {#                        <select class=" validate" id="id_state" name="state">#}
                    {#                            <option value="0" selected="selected">init</option>#}
                    {#                            <option value="1">submitted_wait_for_deposit</option>#}
                    {#                            <option value="2">on_p2p_review</option>#}
                    {#                        </select>#}
                    {#                    </div>#}
                    {#                </div>#}
                    <div class="input-field " type="hidden">
                        <div class="input-field col s12" type="hidden">
                            <input class=" validate" id="id_amount" name="amount"
                                   value="{{ user.policies.last.smart_deposit.coast }}" step="any" type="number"/>
                            <label class="s12 " for="id_amount">Smart Deposit Coast: </label>
                        </div>
                    </div>
                    <div class="input-field " type="hidden">
                        <div class="col s12" type="hidden">
                            <label for="id_policy"></label>
                            <select class=" validate" id="id_policy" name="policy">
                                <option value="{{ user.policies.last.pk }}" selected="selected">---------</option>
                                <option value="{{ user.policies.last.pk }}"></option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Send Transaction</button>
                </form>
            </div>
            <br>
        <li class="collection-item">
            <form action="." method="post">
                {% csrf_token %}
                <div class="input-field" hidden="true">
                    <input class="validate" id="id_amount" name="amount" step="any" type="number" value=1>
                </div>
                <div class="input-field" hidden="true">
                    <input class="validate" id="id_eth_account" name="eth_account" step="any" type="number"
                           value="{{ user.eth_accounts.first.id }}">
                </div>
                <button class="btn btn-primary" type="submit">Buy 1 immature token</button>
            </form>
        </li>
    </ul>

{% endblock content %}