{% extends "layout.html" %}
{% load react_renderer %}

{% block content %}
<h1>User Profile</h1>
<section>
  <h3>User Details</h3>
  <ul class="collection">
    <li class="collection-item">
      Username: {{ user.get_username }}
      {% if user.verified_at %}
        <span class="badge green">verified</span>
      {% else %}
        <span class="badge yellow">not verified</span>
      {% endif %}
    </li>
    <li class="collection-item">
      Password: ******** <a href="{% url 'password-change' %}">Change Password</a>
    </li>
    <li class="collection-item">
      Keybase Username:
      {% if user.keybase_username %}
        {{ user.keybase_username }}
      {% else %}
        <a href="{% url 'verify-keybase' %}">Link Keybase Account</a>
      {% endif %}
    </li>
  <li class="collection-item">
     ETH Address:
    {% if user.eth_accounts %}
            {% if user.eth_accounts.first.eth_addres %}
                 {{ user.eth_accounts.first.eth_address }}
            {% endif %}
    {% endif %}
  </li>
  <li class="collection-item">
        ETH Balance:
    {% if user.eth_accounts %}
      {{ user.eth_accounts.first.eth_balance }}
    {% endif %}
  </li>
  <li class="collection-item">
    Immature tokens balance:
        {% if user.token_account %}
      {{ user.token_account.immature_tokens_balance }}
    {% endif %}
  </li>
  <li class="collection-item">
        Mature tokens balance:
        {% if user.token_account %}
      {{ user.token_account.mature_tokens_balance }}
    {% endif %}
    </li>
  </ul>
</section>

{% endblock content %}
